[Unit]
Description=Proxy service
After=network.target

[Service]
ExecStart=/usr/local/bin/proxy-service 
KillMode=process
Restart=always
WorkingDirectory=/usr/local/etc/proxy-service
StandardOutput=file:/var/log/proxy-service
StandardError=file:/var/log/proxy-service
User=nobody

[Install]
WantedBy=multi-user.target
