<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin: 0;}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50px;
    background-color: #4e106c;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 50px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}
</style>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="{{.GoogleClientID}}.apps.googleusercontent.com">
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log("signout");
        window.location = "/logout";
        });
    }
</script>
</head>

<body onload="" style="font-family:system-ui">
    <ul class="sidenav">
        <li><a href="/">↻</a></li>
        <li><a></a></li>
        <li><a href="javascript:signOut()">Exit</a></li>
        <div class="g-signin2" style="visibility:hidden"></div>
    </ul>            
    <div class="content">
        {{range .Services}}
            <a target="_blank" href="{{.URL}}">{{.Description}}</a><br />
        {{end}}
    </div>
</body>

</html>